<ion-view title="Reviews - {{accountId}}" hide-nav-bar>
  <ion-content class="has-header padding">
  <ion-list>
    <!-- Header Row -->
    <div class="row">
      <ion-item class="col-20">Type</ion-item>
      <ion-item class="col">Total</ion-item>
      <ion-item class="col">Devices</ion-item>
      <ion-item class="col">Categories</ion-item>
      <ion-item class="col">Locations</ion-item>
      <ion-item class="col">Calls</ion-item>
      <ion-item class="col">AdvEvents</ion-item>
      <ion-item class="col">TTR</ion-item>
      <ion-item class="col">CustSat</ion-item>
      <ion-item class="col">Action</ion-item>
    </div>


    <!-- Items -->

    <div class="row" ng-repeat="item in items " >
      <ion-item class="item-input item-select col-20">
        <select ng-model="item.Type" ng-options="type for type in types"></select>
      </ion-item>
      <ion-item class="col">{{item.Total}}</ion-item>
      <ion-item class="col"><input type="text" ng-model="item.Devices" ng-blur="updateItem($index, 'Devices')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.Categories" ng-blur="updateItem($index, 'Categories')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.Locations" ng-blur="updateItem($index, 'Locations')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.Calls" ng-blur="updateItem($index, 'Calls')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.AdvEvents" ng-blur="updateItem($index, 'AdvEvents')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.TTR" ng-blur="updateItem($index, 'TTR')"/></ion-item>
      <ion-item class="col"><input type="text" ng-model="item.CustSat" ng-blur="updateItem($index, 'CustSat')"/></ion-item>
      <ion-item class="col"> <button ng-click="removeItem($index)" class="navbar-link">Del</button></ion-item>
    </div>

    <div class="row">
      <ion-item class="col-20">Totals</ion-item>
      <ion-item class="col">{{totals.Total}} </ion-item>
      <ion-item class="col">{{totals.Devices}}</ion-item>
      <ion-item class="col">{{totals.Categories}}</ion-item>
      <ion-item class="col">{{totals.Locations}}</ion-item>
      <ion-item class="col">{{totals.Calls}}</ion-item>
      <ion-item class="col">{{totals.AdvEvents}}</ion-item>
      <ion-item class="col">{{totals.TTR}}</ion-item>
      <ion-item class="col">{{totals.CustSat}}</ion-item>
      <ion-item class="col"></ion-item>
    </div>

  </ion-list>  
   
    <button ng-click="addItem()" class="btn btn-default">Add</button>

<!--
    <div class="row">
        <div class="col">
          <h4>2014 Revenues</h4>
          <canvas linechart options="data.chartOptions" data="data.lineChart"></canvas>
        </div>  
        <div class="col">
            <h4>Revenue By Type</h4>
           <canvas donutchart legend=true options="data.chartOptions" data="data.chartData"></canvas>
        </div>     
    </div> 
--> 
  </ion-content>
</ion-view>
